* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #222;
  color: #ddd;
  font-size: 1.6rem;
  position: relative;
}

a {
  text-decoration: none;
  color: #ed4c67;
}

.title {
  width: 100%;
  height: 10vh;
  background-color: #ed4c67;
  color: #222;
  text-align: center;
  line-height: 10vh;
  position: sticky;
  top: 0;
  font-size: 2rem;
}

section {
  width: 100%;
  height: 80vh;
  padding-top: 1rem;
  text-align: center;
  box-shadow: 0 0 0.5rem #111;
}

.menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000c0;
  display: none;
  z-index: 5;
}

.nav-menu {
  width: 100%;
  height: 100vh;
}

.nav-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-menu ul li {
  list-style: none;
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
}

.link:hover {
  color: rebeccapurple;
}

.btn-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #111;
  background-color: #ed4c67;
  border-radius: 4px;
  cursor: pointer;
}

.btn-menu i {
  color: #111;
  font-size: 2rem;
}