:root {
  --background: #222;
  --color: #ddd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background);
  color: var(--color);
  font-size: 1.6rem;
  position: relative;
}

a {
  text-decoration: none;
  color: #ed4c67;
}

.title {
  width: 100%;
  height: 10vh;
  background-color: #ed4c67;
  color: var(--background);
  text-align: center;
  line-height: 10vh;
  position: sticky;
  top: 0;
  font-size: 2rem;
}

section {
  width: 100%;
  height: 80vh;
  padding-top: 1rem;
  /* margin-top: 6rem; */
  text-align: center;
  box-shadow: 0 0 0.5rem #111;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000c0;
  /* display: none; */
  z-index: 5;
  transform: translate(0, -100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu.isActive {
  transform: translate(0);
  opacity: 1;
}

.nav-menu {
  width: 100%;
  height: 100vh;
}

.nav-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-menu ul li {
  list-style: none;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  font-weight: bold;
  color: rebeccapurple;
}

/* BTN */

.btn-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--background);
  background-color: #ed4c67;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hamburger-box {
  transform: scale(0.8);
}

.btn-menu i {
  color: var(--background);
  font-size: 2rem;
}

/* Btn Upp */

.upp {
  position: fixed;
  bottom: 0;
  right: 7rem;
  z-index: 10;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #ed4c67;
  background-color: var(--background);
  border-radius: 50%;
  cursor: pointer;
  outline: hidden;
  transform: rotateZ(-90deg);
  transition: 0.3s;
}

.upp span {
  font-size: 2rem;
}
/* Btn DarkTheme */

.darkTheme {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #ed4c67;
  background-color: var(--color);
  border-radius: 50%;
  cursor: pointer;
  outline: hidden;
  transition: 0.3s;
}

.darkTheme span {
  font-size: 2rem;
}

.darkTheme.darkMode {
  background: var(--background);
}

.uppHidden {
  visibility: hidden;
  opacity: 0;
}

/* Eventos del Teclado */

.container-ball {
  height: 80%;
  width: 80%;
  margin: 10px auto;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rebeccapurple;
  transition: 0.3s ease-out;
}

/* Dark Mode */

.darkMode {
  background-color: var(--color);
  color: var(--background);
}